
Vehicle{
   background-image: linear-gradient(#12100E,#2B4162);
}

BackgroundImageDiv{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:repeat(6,1fr);
    position:relative;
    background-image: url("background.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
    color:#ffffff;
    font-size:32px; 
    margin-bottom:50px;
}

Logo{
    position: inline-grid;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    grid-column:8/9;
    grid-row:1/3;
    margin-top:20px;
   
}

Shop{
    position:inline-grid;
    grid-column:9/12;
    grid-row:1/2;
    margin-top:1.5em;
    margin-left:0.4em;
    font-family:Raleway;
}

Desc{
    position:inline-grid;
    grid-column:7/13;
    grid-row:4/5;
    font-family:Ink Free;
    font-size:40px;
    transform:rotate(38deg);
    font-weight: 900;
    margin-top:37vh;
}


Footer{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows:15vh;
background-image:linear-gradient(#000000,#383737);
grid-row-gap: 20px;
color:white;
font-family:raleway;
margin-top:2vh;
}

Location{
    display:grid;
    align-items: center;
    justify-items: start;
    margin-left:2em;
}

ContactNumber{
    display:grid;
    align-items:center;
    justify-items:start;
}

Website{
    display:grid;
    align-items:center;
    justify-items:end;
    margin-right:4em;
}




BrandName{
    display:grid;
    grid-template-rows: 1fr;
    color:white;
    font-family:raleway;
    font-size:30px;
    margin-left:2%;
    font-weight:700;
    margin-bottom: 2%;
    margin-top:5%;
}


Imgdiv1{
  display:grid;
  grid-template-rows:65vh;
  position:inline-grid;
  background-image: url("lamborghini.jpg"), linear-gradient(#7F8C8D,#000000);
    border-radius: 100%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top:3%; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 1s ease-in-out;
  
  }

Imgdiv2{
    display:grid;
    grid-template-rows:65vh;
    position:inline-grid; 
	background-image: url("tesla.jpg"),linear-gradient(#ff3cac, #562b7c, #2b86c5);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center; 
    margin-top:3%; 
    border-radius:100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

Imgdiv3{
    display:grid;
    grid-template-rows:65vh;
    position:inline-grid; 
	background-image: url("audi.jpg"), linear-gradient(#bdc3c7, #2c3e50);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center; 
    margin-top:3%; 
    border-radius:100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
	
}

Imgdiv4{
    display:grid;
    grid-template-rows:65vh;
    position:inline-grid; 
	background-image: url("rollsroyace.jpg"),linear-gradient(#141e30, #243b55);
    border-radius:100%;;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center; 
    margin-top:3%; 
    border-radius:100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

Imgdiv5{
    display:grid;
    grid-template-rows:65vh;
    position:inline-grid; 
	background-image: url("peug.jpg"),linear-gradient(#434343,#000000);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    grid-row-gap: 2em; 
    margin-top:3%; 
    border-radius:100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

Car{
    display:grid;
    grid-template-columns:3fr 1fr 3fr;
    grid-template-rows:repeat(1fr,minmax(0,auto));
    color:white;
    font-family:raleway;
    font-size:20px;
    margin-top:4%;
}

specification{
    color:white;
    position:inline-grid;
    display:grid;
    background-image:linear-gradient(#131212,rgb(49, 49, 49));
    grid-column:3/4;
    row-gap: 1em;
    border:1px solid white;
    padding-left:20%;
    margin-right:7%;
    padding-bottom:2%;
    padding-top:2%;
    border-radius:6%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 1s ease-in-out;
}

Description{
    grid-column:1/3;
    margin-left:4%;
    margin-right:7%;
    margin-top:5%;
    text-shadow: 1px 1px 2px black;
}

h1{
    font-family: Ink Free;
    font-size:26px;
    text-decoration: underline;
    text-decoration-color:#A9A9A9;
    font-weight:700;
    
}

Imgdiv1:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}

Imgdiv2:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}

Imgdiv3:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}

Imgdiv4:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}

Imgdiv5:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}

specification:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
}



