Page{
    background-color:#eeeaea;
    overflow-x: hidden;
}

BackgroundImage{
    display:grid;
    position:relative;
    background-image: url("images/background.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
    color:#ffffff;
    font-size:32px; 
    margin-bottom:50px;
}

Logo{
    position: inline-grid;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    grid-column:1/9;
    grid-row:1/3;
    margin-top:20px;
    margin-left: 20px;
    width: 100px;
    height: 100px;

}

Logo:hover{
    box-shadow: 0 5px 15px white;
    transition: opacity 0.3s ease-in-out;
    animation-play-state: running;
}

ShopName{
    text-shadow: 0 5px 15px black;
    transition: opacity 0.3s ease-in-out;
}


Shop{
    position:inline-grid;
    grid-column:2/12;
    grid-row:1/1;
    margin-top:1.5em;
    margin-left:3em;
    font-family: Roboto;
    color: #D7D2CC;

}    


slogan{
    position:inline-grid;
    grid-column:2/9;
    grid-row-start:2;
    font-family:Ink Free;
    font-size:1em;
    font-weight: 900;
    color: white;
    margin-bottom:5vh;
    margin-left:1.5em;
    transform: translateY(-3vh);
    animation: fade 5s;
}
         
@keyframes fade {
    0% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}

slogan:hover {
    animation-play-state: running;
}


Footer{
display:grid;
grid-template-columns:1fr 1fr 1fr ;
grid-template-rows:20vh;
background-color:black;
color:white;
font-family: Roboto;
margin-top:2vh;
}

logos{
background-image:url(images/logo.png);
background-repeat: no-repeat;
background-size: contain;

}

container{
display:grid;
padding-top:1vh;
align-items: center;
justify-items: center;
transform:translateX(-rem);
}

follow{
    background-image: url(images/follow.PNG);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    transform:translateX(6rem) translateY(4.5vh);
}

Title{
    display: grid;
    font-size:30px;
    grid-template-rows: 1fr;
    font-family:raleway;
    color: #FBC56F;
    margin-left: 5%;
}

block1{
    display:grid;
    position: relative;
    grid-template-columns:2fr 1fr;
    grid-auto-rows:minmax(80vh,auto);
}


block2{
    display:grid;
    position: relative;
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows: minmax(60vh,auto);
    margin-bottom:10vh;
    font-family:Roboto;
    font-size:1em;
    font-weight:500;
}

spec1{
    display:grid;
    font-size:1em;
    padding-left:3em;
    padding-top:11vh;
    }
    
    spec2{
        display:grid;
        font-size:1em;
        padding-top:11vh;
        padding-left:4rem;
}

Image1{
    display:block;
    background-image: url("images/image1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:2rem;
    border:1px solid black;
    border-radius: 2%;
    transition: all 800ms ease-in-out;

}

Image1:hover{
    background-image: url("images/overlay1.jpg");
    transition: all 800ms ease-in-out;
    cursor: pointer;
}

Image2{
    display:block;
    background-image: url("images/image2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:2rem;
    border:1px solid black;
    border-radius: 2%;
    transition: all 800ms ease-in-out;
}

Image2:hover{
    background-image: url("images/overlay2.jpg");
    transition: all 800ms ease-in-out;
    cursor: pointer;
}

Image3{
    display:block;
    background-image: url("images/image3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:2rem;
    border:1px solid black;
    border-radius: 2%;
    transition: all 800ms ease-in-out;
}

Image3:hover{
    background-image: url("images/overlay3.jpg");
    transition: all 800ms ease-in-out;
    cursor: pointer;
}

Image4{
    display:block;
    background-image: url("images/image4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:2rem;
    border:1px solid black;
    border-radius: 2%;
    background-position:50% 45%;
    transition: all 800ms ease-in-out;
}

Image4:hover{
    background-image: url("images/overlay4.jpg");
    transition: all 800ms ease-in-out;
    cursor: pointer;
}

Image5{
    display:block;
    background-image: url("images/image5.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:2rem;
    border:1px solid black;
    border-radius: 2%;
    background-position: 50% 40%;
    transition: all 800ms ease-in-out;
}

Image5:hover{
    background-image: url("images/overlay5.jpg");
    transition: all 800ms ease-in-out;
    cursor: pointer;
}

h1{
    display:grid;
    align-items: end;
    justify-items: center;
    font-family:Arial; 
    font-size:2em; 
}

About{
    display: grid;
    transform:translateY(-10vh);
}

Description{
    display:grid;
    justify-items: start;
    padding-left:1rem;
    padding-top:3vh;
    font-family:Roboto;
    font-size:1em;
}

Manufacturer,Model,Type,SeatCapacity,Length,Height,
Width,Weight,Power,Performance,Displacement,MaxPower,
Fuel,Colour,Quantity,Price{
    display:list-item;
    list-style: square;
    border-bottom:1px solid black;
    
	padding-top:2%;	
}

h2{
    font-size:2em;
}

int1{
    display:inline-block;
    background-image:url(images/int1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform:translateY(4vh) translateX(-3rem);
    border:1px solid black;
    border-radius: 2%;
}


int2{
    display:inline-block;
    background-image:url(images/int2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform:translateY(4vh) translateX(-1rem);
    border:1px solid black;
    border-radius: 2%;
}

int3{
    display:inline-block;
    background-image:url(images/int3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform:translateY(4vh) translateX(-1rem);
    border:1px solid black;
    border-radius: 2%;
}

int4{
    display:inline-block;
    background-image:url(images/int4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform:translateY(4vh) translateX(-1rem);
    border:1px solid black;
    border-radius: 2%;
}

int5{
    display:inline-block;
    background-image:url(images/int5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform:translateY(4vh) translateX(-1rem);
    border:1px solid black;
    border-radius: 2%;
}
